<div id='char1'>
<%= erb :'/characters/_show', layout: false, locals: {character: @char1} %>
</div>

<div id='char2'>
<%= erb :'/characters/_show', layout: false, locals: {character: @char2} %>
</div>

