<div class="container" id='char1'>
<%= erb :'/characters/_show', layout: false, locals: {id: 'char1', character: @char1, other_character: @char2} %>
</div>

<div class="container" id='char2'>
<%= erb :'/characters/_show', layout: false, locals: {id: 'char2', character: @char2, other_character: @char1} %>
</div>

<div id="vs">VS</div>