<form action='/votes' method='POST'>
  <input type='hidden' name='winner_id' value='<%= character.id %>'>
  <input type='hidden' name='loser_id' value='<%= other_character.id %>'>
  <input type='submit' value='VOTE'>
</form>
